/* Colors used:
Primary Blue Headers: #023960
Secondary Grey Headers: #747474
Accent Light Grey: #D5D5D5
Accent Mint Green: #8EC3AE
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #111111
}
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  border-bottom: 10px solid #D5D5D5;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 12px;
  font-weight: 700;
  text-decoration: none;
  color: #747474;
}
nav > ul > li > a:visited{
  color: #747474
}
nav > ul > li > a:focus{
  text-decoration: none;
  color: #023960
}
nav > ul > li > a:hover{
  text-decoration: none;
  color: #8EC3AE
}
nav > ul > li > a:active{
  text-decoration: none;
  color: #023960
}
#social-header ul {
  list-style-type: none;
  padding: 0;
}
#social-header li {
  display: inline-block;
}
#social-header a{
  padding: 0 2px;
}
main {
  padding-top: 230px;
}
#contact ul {
  list-style-type: none;
  padding: 0;
}
#contact li {
  display: inline-block;
}
#contact a {
  padding: 0 10px;
}
#menu-about-active {
  color: #023960;
  font-weight:900;
}
#menu-work-active {
  color: #023960;
  font-weight:900;
}
footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color:#023960
}
a:visited { /* visited link */
  color: #023960;
}
a:hover,
a:focus {
  color: #8EC3AE;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #D5D5D5;
}
.button {
  display: inline-block;
  background-color: #8EC3AE;
  color: #023960;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #023960;
  transition: 0.2s opacity;
  margin: 10px 0;
}
.button:visited  {
  opacity: 0.60;
  color: #023960;
  text-decoration: none;
}
.button:hover,
.button:focus {
  opacity: 0.75;
  color: #023960;
  text-decoration: none;
}
.button:active  {
  opacity: 0.60;
  color: #023960;
  text-decoration: none;
}
#social-header svg:visited{
  opacity: 0.60;
  color: #8EC3AE;
}
#social-header svg:hover,
  svg:focus{
  opacity: 0.75;
  color: #8EC3AE;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#work h2 {
  text-align: center;
}
#logo {
  max-width: 250px;
}
.contact {
  text-align: center;
}
#ny-skyline {
  width: 100%;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
  from {transform: translate(300px,0px);}
  to {transform: translate(300px,40px);}
}
.sun {
  animation: 6s color-change infinite alternate linear;
}
@keyframes cloud-top-move {
  from {transform: translate(650px,0px);}
  to {transform: translate(750px,0px);}
}
.cloud-top {
  animation: 20s cloud-top-move infinite alternate linear;
}
@keyframes cloud-bottom-move {
  from {transform: translate(600px,15px);}
  to {transform: translate(700px,15px);}
}
.cloud-bottom {
  animation: 20s cloud-bottom-move infinite alternate linear;
}
@keyframes birds-move-reverse {
  from {transform: translate(100px,30px);}
  to {transform: translate(20px, 10px);}
}
.birds {
  animation: 16s birds-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {

    padding: 20px 0 13px;
  }
  nav {
      width: auto;
      float: left
  }
  #social-header {
      width: auto;
      float: right;
      padding-left: 71px;
  }
  #logo{
    width: auto;
    text-align:center;
  }
  #logo svg{
    margin-top: 10px;
  }
  body {
    font-size: 18px;
  }
  main {
    padding-top: 140px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
    }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
  float: left;
  padding: 0 10px;
  }
  #about-page h3 {
    margin-top: 0;
  }
  #about-page h2{
    text-align:center;
    margin-top: 10px;
  }
  #skills-tools h2{
    margin-top:20px;
  }

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    padding: 20px 0 13px;
  }
  nav {
      width: auto;
      float: left
  }
  #social-header {
      width: auto;
      float: right;
  }
  #logo{
    margin-left: auto;
    margin-right: auto;

  }
  body {
    font-size: 18px;
  }
  main {
    padding-top: 140px;
  }
  .row-lg::after {
    content: "";
    clear: both;
    display: table;
    }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  [class*="col-"] {
  float: left;
  padding: 0 10px;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  #about-page h3 {
    margin-top: 0;
  }
  #about-page h2{
    text-align:center;
    display: inline-block;
  }
  #skills-tools h2{
    padding: 0 10px;
  }
  #my-story p {
    padding-right: 20px;
  }

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
